.section-title {
  margin: 100px 0;

  h2 {
    font-family: $font-bold-main;
    text-align: center;
    font-size: 48px;
  }

  p {
    margin-bottom: 64px;
    font-family: $font-light-main;
    font-size: 18px;
  }
}

.section-promo .section-title {
  p {
    color: $default-color-text;
  }
}

.section-about .section-title {
  margin-top: 0;

  h2 {
    color: #fff;
  }

  p {
    margin-bottom: 0;
    color: $default-color-text;
  }
}
