.block-process {
  h2 {
    margin-bottom: 60px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
  }

  .views-field-title {
    margin: 18px 0;
    font-size: 24px;
    font-weight: 700;
  }
}
