.to-do-item {
  font-size: 22px;

  &:hover {
    background-color: #d7ffdb;

    .edit-task, .delete-task {
      display: inline-block;
    }
  }
}

.task-name {
  &:hover {
    text-decoration: none;
  }
}

.edit-task {
  display: none;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 16px;

  &:hover {
    background-color: #9fcdff;
    text-decoration: none;
  }
}

.delete-task {
  display: none;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 16px;

  &:hover {
    background-color: #bd2130;
    text-decoration: none;
  }
}

.show {
  display: inline-block;
}
