.about-us-list {
  margin-top: 132px;
}

.about-us-list-item {
  margin-bottom: 60px;

  h3 {
    margin: 30px 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 24px;
    color: #fff;
  }

  p {
    font-size: 18px;
    font-family: $font-light-main;
    color: $default-color-text;
    line-height: 30px;
  }
}
