.scroll {
  margin: 10px 0 10vh 0;
  padding-top: 60px;
  font-family: $font-light-main;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background: url("../img/scroll-icon.png") 50% 0 no-repeat;
}
