.section-title {
  margin: 100px 0;

  h2 {
    text-align: center;
    font-size: 48px;
  }

  p {
    margin-bottom: 64px;
    font-size: 18px;
    font-weight: 300;
  }
}
.section-about .section-title {
  h2 {
    color: #fff;
  }
  p {
    color: $default-color-text;
  }
}
