input {
  border: none;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  color: #fff;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

//.clearfix:after {
//  content: '';
//  display: block;
//  clear: both;
//}

body {
  font-family: 'Arial', sans-serif;
  //color: $default-color-text;
}

.container {
  @include respond-to('huge') {
    max-width: 1350px;
  }

  //max-width: 1170px;
  //margin: 0 auto;
  //padding: 0 15px;
}
